* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #1c1c1f;
  font-family: "Figtree", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  user-select: none;
}
.clock {
  color: #ffffff55;
  font-size: 24px;
  display: flex;
  align-items: flex-end;
  gap: 15px;
}
.time-container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.time-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.time-number-content {
  transition: 0.3s;
}
.active-nb {
  font-size: 30px;
  color: white;
  font-weight: 700;
}

.time {
  color: white;
  font-size: 50px;
  font-weight: 700;
}

a.link{
    text-decoration: none;
    color: white;
    font-size: 25px;
    letter-spacing: 5px;
    position: relative;
}
a.link::before{
    content: '';
    position: absolute;
    background: white;
    width: 0;
    height: 2px;
    right: 0;
    bottom: 0;
    transition: 0.3s;
}
a.link:hover::before{
    right: auto;
    left: 0;
    width: 100%;
}
